<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>404 NOT FOUND</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>
<style type="text/css">
    .error-404-title {
      font-size: 500%;
      display: inline-block;
      text-shadow: 0 3px 0px #404853, 0 6px 0px #333333;
      color: #FFFFFF;
      font-weight: 700;
    }
    .error-404 {
      margin-top: 100px; 
      text-align: center;
      color: #FFFFFF;
    }
    .error-404 p {
      font-size: 2rem;
    }
    a {
      color: #FFFFFF;
      text-decoration: underline;
    }
</style>
<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript">
    //ç”¨æ¥è¾“å‡ºçš„å­—ç¬¦ä¸²
    var myStr = "Oops! The page you requested was not found! <br><br> Go back to home page by <a href='/'>click here </a>";
    var link = " Go back to home page by <a href='/'>click here </a>"
    //æ‰“å°å‡½æ•°ï¼?åå¤æˆªå–myStrå­—ç¬¦ä¸²ï¼Œ æ¯ä¸€æ¬¡éƒ½æ¯”å‰ä¸€æ¬¡å¤šæˆªå–ä¸€ä¸ªå­—ç¬¦ï¼Œ ç„¶ååå¤è¾“å‡ºåˆ°é¡µé¢ä¸­
    var print = function(content, str, speed) {
        var count = 0;
        var timer = null;
        timer = setInterval(function() {
            if (count >= str.length) {
                clearInterval(timer);
            } else {
                content.innerHTML = str.substring(0, count);
                count++;
            }
        }, speed);
    }
    var setBackground = function(total){
        var now=new Date(); 
        var num = now.getSeconds()%total; //äº§ç”Ÿä¸€ä¸ªåŸºäºç›®å‰æ—¶é—´çš„0åˆ°totalçš„æ•´æ•°ã€?
        console.log(num);
        $("body").css("background-image", "url('/assets/i/bg"+num+".jpg')");
    }
    onload = function() {
        setBackground(41);
        var oContent = document.getElementById("content");
        var oLink = document.getElementById("link");
        print(oContent, myStr, 100);
    }
</script>

</head>
<body class="background">
<div class="error-404">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="error-404-title">4 0 4</h1>
      <p class="error-404-content" id="content"></p>
       <!-- <p class="error-404-link" id="link">Go back to home page by <a href='/'>click here </a></p> -->
    </div>
  </div>
</div>
</body>
</html>