<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>About</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/component.css">
  <link rel="stylesheet" href="assets/css/app.css"/>
  <style type="text/css">
    @media only screen and (min-width: 641px){
      [class*=am-u-] {
         padding-left: 0; 
         padding-right: 0; 
       }
    }
    [class*=am-u-] {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
    .background {
      background: url('assets/i/bg.jpg');
      background-size: 100%;
      background-repeat:no-repeat;
      background-position: center center;
      background-color: #000;
      background-attachment: fixed;
      background-size: cover;
    }
    footer {
      color: #fff;
    }
  </style>
</head>
<body class="background">
<header class="navbar">
  <div class="am-container">
      <div class="am-topbar-brand">
          <a href="/">Hello, I am Hu Wenjia</a>
      </div>
      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
      <div class="am-collapse am-topbar-collapse" id="collapse-head">
          <ul class="am-nav am-nav-pills am-topbar-right">
              <li><a href="/">Home</a></li>
              <li  class="am-active"><a href="/about">About</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <div class="get-content">
        <h1 class="get-title">HU WENJIA</h1>
        <p>
          Front-end development · Web development
        </p>
      </div>
      <p>
        <a href="/about" class="am-btn btn-transparent btn-same-size">About</a>
        <a href="/portfolio" class="am-btn btn-transparent btn-same-size">Portfolio</a>
        <a href="/blog" class="am-btn btn-transparent btn-same-size">Blog</a>
      </p>
      <p>
        <a class="get-btn"><span class="am-icon-angle-down am-icon-lg"></span></a>
      </p>
    </div>
  </div>
</div>

<div class="detail">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="detail-h2">Projects</h2>
      <div class="am-g">

        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 detail-mb grid">
          <figure class="effect-sadie">
            <img src="assets/i/108H.jpg" class="am-img-responsive">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 detail-mb grid">
          <figure class="effect-sadie">
            <img src="assets/i/102H.jpg" class="am-img-responsive">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 detail-mb grid">
          <figure class="effect-sadie">
            <img src="assets/i/103.jpg" class="am-img-responsive">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 detail-mb grid">
          <figure class="effect-sadie">
            <img src="assets/i/104.jpg" class="am-img-responsive">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 detail-mb grid">
          <figure class="effect-sadie">
            <img src="assets/i/105.jpg" class="am-img-responsive">
            <figcaption>
                <h2>Holy <span>Sadie</span></h2>
                <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
            </figcaption>     
          </figure>
        </div>

        
      </div>
    </div>
  </div>
</div>

<div class="hope">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 hope-img">
      <img src="assets/i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      <hr class="am-article-divider am-show-sm-only hope-hr">
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="hope-title">胡文佳 前端工程师</h2>

      <p>
        Mail: huwenjiao0@gmail.com<br>
        Github: <a href="https://github.com/hwjsuper" target="blank">https://github.com/hwjsuper</a><br>
        Blog: <a href="haj.fyscu.com/blog ">haj.fyscu.com/blog </a>
      </p>
    </div>
  </div>
</div>

<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
    </div>
  </div>
</div>

<footer class="blog-footer">
  <p>
    © Copyright HWJ. 
  </p>
  <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
      <i class="am-icon-btn am-icon-arrow-up am-success"></i>
    </a>
  </div>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script type="text/javascript">
$(document).ready(function(){
    var iHeight = $(window).height();
    $(".get").css("height",iHeight);
    var iPaddingTop = (iHeight - $(".get-content").height())/2;
    $(".get").css("padding-top",iPaddingTop);
    $(".get-btn").click(function(){
      $("html, body").animate({scrollTop: iHeight-50}, '5000');
    });
});

</script>
</body>
</html>