<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>BLOG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <style type="text/css">
    .background {
        background: url('/assets/i/bg36.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #000;
        background-attachment: fixed;
        background-size: cover;
    }
    @media only screen and (min-width: 641px) {
        .mynav {
            display: none;
        }
    }
    
    @media only screen and (max-width: 640px) {
        .navbar {
            display: none;
        }
    }
    </style>
    <script charset="utf-8" src="/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
    <script>
    var editor1,editor2;
    KindEditor.ready(function(K) {
      editor1 = K.create('.post-textarea', {
      allowImageUpload : false,
      width : '100%',
      items : [
       'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
        'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
        'anchor', 'link', 'unlink', '|', 'about']
      });
      editor2 = K.create('.comment-textarea', {
      allowImageUpload : false,
      width : '100%',
      items : [
        'emoticons']
      });
    });
    </script>
</head>

<body class="background">
    <header class="navbar">
        <div class="am-container">
            <div class="am-topbar-brand">
                <a href="/">Hello, I am Hu Wenjia</a>
            </div>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-right">
                    <li><a href="/">Home</a></li>
                   <!--  <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li> -->
                    <li class="am-active"><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="am-g blog-g-fixed">
    <div class="am-u-md-9 am-u-md-push-3 blog-container">
        <h1><%= title %></h1>
        <% if (success) { %>
        <div><%= success %></div>
        <% } %>
        <% if (error) { %>
        <div><%= error %> </div>
        <% } %>
        