<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>HOME</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/component.css">
  <link rel="stylesheet" href="assets/css/app.css"/>
  <style type="text/css">
    @media only screen and (min-width: 641px){
      [class*=am-u-] {
         padding-left: 0; 
         padding-right: 0; 
       }
    }
    [class*=am-u-] {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
    .skill-works {
        padding: 1.4rem;
    }
    @media only screen and (max-width: 640px){
      .skill-works {
        padding: 0.5rem;
      }
    }
    footer {
      color: #fff;
      text-align: center;
      padding: 100px 0;
    }
    footer h1 {
      font-size: 40px;
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 100;
      text-align: center;
      line-height: 60px;
    }
    footer p {
      font-size: 19px;
    }
    @media(max-width: 640px) {
      footer h1 {
        font-size: 40px;
        font-weight: 100;
      }
      footer p {
        font-size: 16px;
      }
    }
    .skill-works img {
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
    .skill-works img:hover {
      opacity: 0.4;
      filter: alpha(opacity=0.4);
    }
  </style>
</head>
<body class="background">
<header class="navbar">
  <div class="am-container">
      <div class="am-topbar-brand">
          <a href="/">Hello, I am Hu Wenjia</a>
      </div>
      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
      <div class="am-collapse am-topbar-collapse" id="collapse-head" class="scrollspy-nav" data-am-scrollspy-nav="{offsetTop: 50}" data-am-sticky>
          <ul class="am-nav am-nav-pills am-topbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <div class="get-content">
        <h1 class="get-title">HU WENJIA</h1>
        <p>
          Front-end development · Web development
        </p>
      </div>
      <p data-am-scrollspy-nav="{offsetTop: 50, speed: 2000}">
        <a href="#portfolio" class="am-btn btn-transparent btn-same-size">Portfolio</a>
        <a href="#about" class="am-btn btn-transparent btn-same-size">About</a>
        <a href="/blog" class="am-btn btn-transparent btn-same-size">Blog</a>
      </p>
      <a class="get-btn"><p><span class="am-icon-angle-down am-icon-lg"></span></p></a>
    </div>
  </div>
</div>

<div class="project" id="portfolio">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="project-h2">Portfolio</h2>
      <div class="am-g">

        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 project-mb grid">
          <figure class="effect-zoe">
            <img src="assets/i/project1.png" class="am-img-responsive">
            <figcaption>
                <h2>个人网站 <span>2015/4</span></h2>
                <!-- <p>个人网站<br>2015/4</p> -->
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 project-mb grid">
          <figure class="effect-zoe">
            <img src="assets/i/project4.png" class="am-img-responsive">
            <figcaption>
                <h2>选课神器 <span>2014/11</span></h2>
                <!-- <p>选课神器<br>2014/11</p> -->
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 project-mb grid">
          <figure class="effect-zoe">
            <img src="assets/i/project3.png" class="am-img-responsive">
            <figcaption>
                <h2>川大飞扬电脑报修系统<span>2014/5</span></h2>
                <!-- <p>川大飞扬电脑报修系统 <br>2014/5</p> -->
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 project-mb grid">
          <figure class="effect-zoe">
            <img src="assets/i/project7.png" class="am-img-responsive">
            <figcaption>
                <h2>青春川大 <span>2014/11</span></h2>
                <!-- <p>青春川大<br>2014/11</p> -->
            </figcaption>     
          </figure>
        </div>

        <div class="am-u-lg-4 am-u-md-4 am-u-sm-12 project-mb grid">
          <figure class="effect-zoe">
            <img src="assets/i/project6.png" class="am-img-responsive">
            <figcaption>
                <h2>大学玩了没 <span>2014/8</span></h2>
                <!-- <p>大学玩了没<br>2014/8</p> -->
            </figcaption>     
          </figure>
        </div>

        
      </div>
    </div>
  </div>
</div>

<div class="detail" id="about">
  <div class="am-g am-container">
    <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-img">
      <!-- <img src="assets/i/examples/landing.png" alt="" data-am-scrollspy="{animation:'slide-left', repeat: false}">
      <hr class="am-article-divider am-show-sm-only detail-hr"> -->
    </div>
    <div class="am-u-lg-8 am-u-md-6 am-u-sm-12">
      <h2 class="detail-title">胡文佳 前端开发</h2>
      <p>计算机科学与技术 · 四川大学 | 2012级</p>
      <p>
        Email: <a href="mailto:huwenjiao0@gmail.com">huwenjiao0@gmail.com</a><br>
        Github: <a href="https://github.com/hwjsuper" target="blank">https://github.com/hwjsuper</a><br>
        Blog: <a href="http://huwenjia.cn/blog ">huwenjia.cn/blog </a>
      </p>
    </div>
  </div>
</div>

<div class="skills">
  <div class="am-g am-container">
    <div class="am-u-lg-12">
      <h2 class="skill-h2">Skill</h2>
      <div class="am-g">
        <p class="skill-tags am-u-sm-6">
          HTML CSS JavaScript
        </p>
        <p class="skill-stars am-u-sm-6">
          <i class="am-icon-star am-icon-fw"></i>
          <i class="am-icon-star am-icon-fw"></i>
          <i class="am-icon-star am-icon-fw"></i>
          <i class="am-icon-star-half-empty am-icon-fw"></i>
          <i class="am-icon-star-o am-icon-fw"></i>
        </p>
      </div>
      <div class="am-g">
        <p class="skill-tags am-u-sm-6">
        		jQuery Bootstrap
        </p>
        <p class="skill-stars am-u-sm-6">
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star-half-empty am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
        </p>
      </div>
      <div class="am-g">
        <p class="skill-tags am-u-sm-6">
        	Ajax json xml
        </p>
        <p class="skill-stars am-u-sm-6">
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
        </p>
      </div>
      <div class="am-g">
        <p class="skill-tags am-u-sm-6">
        Node.JS MySQL
        </p>
        <p class="skill-stars am-u-sm-6">
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
            <i class="am-icon-star-o am-icon-fw"></i>
        </p>
      </div>

      <!--
      <hr>
      <h5>I also enjoy drawing & carving rubber stamps </h5>
      <div class="am-g">
          <div class="am-u-md-3 am-u-sm-6 skill-works">
          <div style="background-color:#000">
          <a href="http://tuanzio0.lofter.com/" target="blank">
          <img class="am-img-responsive" src="assets/i/work1.jpg" alt=""/>
          </a>
          </div>
        </div>

        <div class="am-u-md-3 am-u-sm-6 skill-works">
          <div style="background-color:#000">
          <a href="http://tuanzio0.lofter.com/" target="blank">
          <img class="am-img-responsive" src="assets/i/work1.jpg" alt=""/>
          </a>
          </div>
        </div>

        <div class="am-u-md-3 am-u-sm-6 skill-works">
          <div style="background-color:#000">
          <a href="http://tuanzio0.lofter.com/" target="blank">
          <img class="am-img-responsive" src="assets/i/work4.jpg" alt=""/>
          </a>
          </div>
        </div>

        <div class="am-u-md-3 am-u-sm-6 skill-works">
          <div style="background-color:#000">
          <a href="http://tuanzio0.lofter.com/" target="blank">
          <img class="am-img-responsive" src="assets/i/work4.jpg" alt=""/>
          </a>
          </div>
        </div>
      </div>
      -->

    </div>
  </div>
</div>

<footer>
<h1>Intrigued?</h1>
<br>
<p>We may have common interests.</p>
<p>
  <a href="mailto:huwenjiao0@gmail.com" class="am-btn btn-transparent btn-same-size">Contact</a>
  <a href="/files/huwenjia-resume.pdf" target="blank" class="am-btn btn-transparent btn-same-size">Resume</a>
</p>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="回到顶部">
        <i class="am-icon-arrow-up am-success"></i>
    </a>
</div>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script type="text/javascript">
var setBackground = function(total){
    var now=new Date(); 
    var num = now.getSeconds()%total; //产生一个基于目前时间的0到total的整数。 
    console.log(num);
    $("body").css("background-image", "url('assets/i/bg"+num+".jpg')");
}
var setGet = function(){
    var iHeight = $(window).height();
    $(".get").css("height",iHeight);
    var iPaddingTop = (iHeight - $(".get-content").height())/2;
    $(".get").css("padding-top",iPaddingTop);
    $(".get-btn").click(function(){
      $("html, body").animate({scrollTop: iHeight-50}, '2000');
    });
}
onload = function(){
  setBackground(41);
  setGet();
}      
</script>
</body>
</html>