<%- include header %>
<div class="am-u-lg-11 blog-main">
<form method="post" class="am-form am-u-md-6 am-u-sm-centered">
    <fieldset class="am-form-set">
        <div class="am-input-group">
          <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
          <input type="text" class="am-form-field" name="name" placeholder="用户名" required="true">
        </div>
        <div class="am-input-group">
          <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
          <input type="password" class="am-form-field" name="password" placeholder="密码" required="true">
        </div> 
    </fieldset>
    <button type="submit" class="am-btn am-btn-primary am-btn-block">登录</button>
</form>
</div>
<%- include footer %>