<%- include header %>
<form method="post" class="am-form am-u-md-6 am-u-sm-centered">
    <fieldset class="am-form-set">
        <input type="text" name="name" placeholder="用户名">
        <input type="text" name="password" placeholder="密码">
    </fieldset>
    <button type="submit" class="am-btn am-btn-primary am-btn-block">登录</button>
</form>
<%- include footer %>