<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Coming soon</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
  <style>
  .background {
        background: url('assets/i/bg1.jpg');
        background-size: 100%;
        background-repeat:no-repeat;
        background-position: center center;
        background-color: #000;
        background-attachment: fixed;
        background-size: cover;
  }
  </style>
</head>
<body class="background">
<header class="navbar">
    <div class="am-container">
        <div class="am-topbar-brand">
            <a href="/">Hello, I am Hu Wenjia</a>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li  class="am-active"><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="get">
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="get-content">
                    <h1 class="get-title">comming soon</h1>
                </div>
            </div>
        </div>
    </div>

<footer class="blog-footer">
  <p>
    © Copyright HWJ. 
  </p>
  <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
      <i class="am-icon-btn am-icon-arrow-up am-success"></i>
    </a>
  </div>
</footer>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var iHeight = $(window).height();
    $(".get").css("height", iHeight);
    var iPaddingTop = (iHeight - $(".get-content").height()) / 2;
    $(".get").css("padding-top", iPaddingTop);
});
</script>
<!--<![endif]-->
</body>
</html>
