<%- include header %>
<div class="am-u-lg-11 blog-main">
<form method="post">
  标题：<br />
  <input type="text" name="title"/><br />
  标签：<br />
  <input type="text" name="tags"/><br />
  正文：<br />
  <textarea name="post" rows="20" cols="100"></textarea>
  <input type="submit" value="发表" class="am-btn am-btn-primary am-btn-sm" />
</form>
</div>
<%- include footer %>