<%- include header %>
<div class="am-u-lg-11 blog-main">
<form method="post" class="am-form am-form-horizontal">
  标题：<br />
  <input type="text" class="am-form-field am-input-sm" name="title" required="true"/><br />
  标签：<br />
  <input type="text" class="am-form-field am-input-sm" name="tags" required="true"/><br />
  正文：<br />
  <textarea name="post" rows="15" cols="80" class="post-textarea"></textarea>
  <input type="submit" value="发表" class="am-btn am-btn-primary am-btn-sm float-rt" />
</form>
</div>
<%- include footer %>