<%- include header %>
<form method="post" class="am-form am-u-md-6 am-u-sm-centered">
    <fieldset class="am-form-set">
        <input type="text" name="name"  placeholder="取个名字"/>
        <input type="password" name="password"  placeholder="设个密码"/>
        <input type="password" name="password-repeat"  placeholder="确认密码"/>
        <input type="email" name="email"  placeholder="填下邮箱"/>
    </fieldset>
    <button type="submit" class="am-btn am-btn-primary am-btn-block">注册个账号</button>
</form>
<%- include footer %>